@using HtmlUtility = MvcAccount.Web.HtmlUtility;
@model MvcAccount.Web.Password.Change.SavedViewModel
@section head {
<title>@Model.Title</title>
}
<div class="@Model.ViewCssClass">
   <h1>@Model.Title</h1>
   <p>@Model.Message</p>
   <p>
      @HtmlUtility.Link(Model.NextLink)
   </p>
</div>