@using HtmlUtility = MvcAccount.Html.HtmlUtility;
@model MvcAccount.Auth.SignInViewModel
@section head {
<title>@Model.Title</title>
}
<div class="auth-sign-in">
   <h1>@Model.Title</h1>
   @Html.ValidationSummary(excludePropertyErrors: true)
   @using (Html.BeginForm()) {
      var inputHtml = HtmlUtility.HtmlHelperFor(Html, Model.InputModel);
      @Html.AntiForgeryToken()
      <div class="form">
         @inputHtml.EditorForModel()
         <div>
            <div></div>
            <div class="buttons">
               <button type="submit">@Model.SubmitText</button>
               <br />
               <br />
               @HtmlUtility.Link(Model.AccountRecoveryLink)
            </div>
         </div>
      </div>
   }
</div>