@model MvcAccount.Password.Reset.DoneViewModel
@section head {
<title>@Model.Title</title>
}
<div class="@Model.ViewCssClass">
   <h1>@Model.Title</h1>
   <p>@Model.Message @Model.NextLink.</p>
</div>