@model MvcAccount.Password.Reset.ResetViewModel
<div class="@Model.ViewCssClass">
   <h1>@Model.Title</h1>
   <p>@Model.Message</p>
   @Html.ValidationSummary(excludePropertyErrors: true)
   @using (Html.BeginForm(null, null, FormMethod.Post, new Dictionary<string, object> { { "autocomplete", "off" } })) {
      @Html.AntiForgeryToken()
      var inputHtml = Model.HtmlHelperForInput(Html);
      @inputHtml.EditorForModel("../../../Shared/EditorTemplates/Object")
      <div class="form-group buttons">
         <div></div>
         <div>
            <button type="submit" class="btn btn-primary">@Model.SubmitText</button>
         </div>
      </div>
   }
</div>