@using HtmlUtility = MvcAccount.Html.HtmlUtility;
@model MvcAccount.Password.Reset.ResetViewModel
@section head {
<title>@Model.Title</title>
}
<div class="password-reset">
   <h1>@Model.Title</h1>
   <p>@Model.Message</p>
   @Html.ValidationSummary(excludePropertyErrors: true)
   @using (Html.BeginForm(null, null, FormMethod.Post, new { autocomplete = "off" })) {
      @Html.AntiForgeryToken()
      var inputHtml = HtmlUtility.HtmlHelperFor(Html, Model.InputModel);
      <div class="form">
         @inputHtml.EditorForModel()
         <div>
            <div></div>
            <div class="buttons">
               <button type="submit">@Model.SubmitText</button>
            </div>
         </div>
      </div>
   }
</div>