@model MvcAccount.Email.Change.ChangeViewModel
@section head {
<title>@Model.Title</title>
}
<div class="@Model.ViewCssClass">
   <h1>@Model.Title</h1>
   @Html.ValidationSummary(excludePropertyErrors: true)
   @using (Html.BeginForm()) {
      var inputHtml = Model.HtmlHelperForInput(Html);
      @inputHtml.EditorForModel("../../../Shared/EditorTemplates/Object")
      <div class="buttons">
         <div></div>
         <div>
            <button type="submit">@Model.SubmitText</button>
         </div>
      </div>
   }
</div>